{
    "presets": [
        [
            "env",
            {
                "loose": true,
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "syntax-trailing-function-commas",
        "transform-object-rest-spread",
        "transform-exponentiation-operator",
        "transform-runtime",
		"syntax-dynamic-import"
    ]
}
