{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "new-cap": [2, {
            "newIsCap": true,
            "capIsNew": false,
        }],
        "react/sort-comp": 0,
        "react/forbid-prop-types": 0,
        "valid-jsdoc": [2, {
            "prefer": {
                "return": "return",
            },
            "requireReturn": false,
        }],
        "require-jsdoc": [2, {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": false,
            },
        }],
        "padded-blocks": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-dupe-keys": 2,
        "no-unused-vars": [2, {
            "argsIgnorePattern": "^_",
        }],
        "func-names": 0,
        "indent": [2, "tab", {
            "SwitchCase": 1,
        }],
        "no-tabs": 0,
        "react/jsx-indent-props": [2, "tab"],
        "react/no-multi-comp": 0,
        "complexity": [2, 10],
        "max-statements": [2, 20],
        "max-depth": [2, 3],
        "max-nested-callbacks": [2, 5],
        "max-len": [2, 120, 4],
        "max-params": [2, 5],
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0,
        "import/imports-first": 0,
        "no-param-reassign": [2, {
            "props": false,
        }],
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "prefer-template": 0,
        "global-require": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [2, "tab"],
        "react/require-extension": 0,
        "react/no-find-dom-node": 0,
        "react/no-render-return-value": 0,
        "import/no-named-as-default-member": 0,
        "import/extensions": [2, { "js": "never" }],
        "quote-props": [0, "consistent-as-needed"],
        "no-lonely-if": 0,
        "import/no-unresolved": [
            "error",
            {
                'ignore': ['SSC', 'FB'],
            }
        ],
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js",
            },
        },
    },
}
